 <div class="collection">
     <a href="/medicalcenter/register" class="collection-item">Registrar Centro M&eacute;dico</a>
    <a href="/medicalcenter/list" class="collection-item">Lista de Centros M&eacute;dicos</a>
 </div>
    
  