@using BancoDeSangre.App_Data
@model BancoDeSangre.ViewModels.ManagerViewModels.ManagerListViewModel

<div class="row">
    <div class="col s12 l3">
        @{
            Html.RenderPartial("PartialViews/MenuOptions");
        }
    </div>
    <div class="col s12 l9">
        @{
            Html.RenderPartial("PartialViews/ManagerList");
        }
    </div>
</div>


