
@{
    ViewBag.Title = "Iniciar Sesión";
}
@section JavaScript{
    @*@Scripts.Render("~/Public/JavaScript/components/ajax.js")
    @Scripts.Render("~/Public/JavaScript/pages/account/account.js")*@
}
<h2>Iniciar Sesión</h2>
<form id="signin-form" method="POST" action="/account/checksignin">
    <div class="form-field">
        <label for="email-field">Email</label>
        <input id="email-field" name="email" type="email" placeholder="@("nombre@email.com")" required/>
    </div>
    <div class="form-field">
        <label for="password-field">Contraseña</label>
        <input id="password-field" name="password" type="password" required/>
    </div>    
    <div class="form-field">
        <input type="submit" value="Iniciar Sesión"/>
    </div>
</form>