
@{
    ViewBag.Title = "Iniciar Sesión";
}
@section JavaScript{
    <script type="module" src="/public/javascript/views/manager/sign-in.js"></script>
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Public/CSS/login.css">
}

<div class="container">    
    <form id="signin-form" method="POST" action="/manager/checksignin">
        <div class="iniciarSesion-form">
            <input id="email-field" name="email" type="email" placeholder="Email" class="input" required><br>
            <input id="password-field" name="password" type="password" placeholder="Contraseña" class="input" required><br>
            <input type="submit" class="btn" value="Iniciar Sesión"/>
        </div>
    </form>
</div>