
@*@{
    ViewBag.Title = "Iniciar Sesión";
}
@section JavaScript{
    <script type="module" src="/public/javascript/views/manager/sign-in.js"></script>
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Public/CSS/login.css">
}

<div class="container">    
    <form id="signin-form" method="POST" action="/manager/checksignin">
        <div class="iniciarSesion-form">
            <input id="email-field" name="email" type="email" placeholder="Email" class="input" required><br>
            <input id="password-field" name="password" type="password" placeholder="Contraseña" class="input" required><br>
            <input type="submit" class="btn" value="Iniciar Sesión"/>
        </div>
    </form>
</div>*@

<div class="container">
    <div class="row">
        <div class="card col s12 m6 offset-m3">
            <div class="card-content">
                <span class="card-title">Iniciar Sesión</span>
                <div class="row">
                    <div class="input-field col s10 offset-m1">
                        <input placeholder="user@email.com" value="" id="first_name2" type="email" class="validate" required>
                        <label class="active" for="first_name2">Correo</label>
                    </div>
                    <div class="input-field col s10 offset-m1">
                        <input placeholder="Contraseña" value="" id="first_name2" type="password" class="validate" required>
                        <label class="active" for="first_name2">Contraseña</label>
                    </div>
                    <div class="input-field col s10 offset-m1">
                        <a class="waves-effect waves-light btn teal accent-3">Iniciar Sesión</a>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

