/*** Home CSS ***/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    background-color: #fff;
}

#wrapper {
    max-width: 1980px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
}

header {
    background-color: #fff;
    height: 50px;
    padding: 4px;
}

    header h1 {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        line-height: 20px;
        padding-bottom:12px;
        font-size: 28px;
        font-family: Raleway;
        color: #000;
        letter-spacing: 5px;
        font-weight: 20;
    }


.main-menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #818181;
}

ul.main-menu {
    margin-top: 15px;
    padding: 0px;
    list-style: none;
}

.main-menu li {
    float: left;
    width: 250px;
    height: 40px;
    background-color: #000;
    opacity: .78;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 20;
}

    .main-menu li ul li {
        font-size: 10px;
        letter-spacing: 3px;
        font-weight: 15;
    }

    .main-menu li a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

        .main-menu li a:hover {
            background-color: #0AA083;
        }

    .main-menu li ul li {
        display: none;
    }

    .main-menu li:hover ul li {
        display: block;
    }

.container {
    margin-top:30px;
    margin-left: 50px;
}