<div class="container section">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://image.freepik.com/foto-gratis/doctor-sujetando-estetoscopio_23-2147822716.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class="light blue-text text-darken-4">Salvá Vidas</h3>
                    <h6 class="light grey-text text-darken-3">La donación de sangre es un acto solidario.</h6>
                </div>
            </li>
            <li>
                <img src="https://image.freepik.com/foto-gratis/donante-sangre-donacion-pelota-inflable-sosteniendo-mano_77569-70.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3 class="light grey-text text-lighten-3">Cumplí con los requisitos</h3>
                    <h5 class="light grey-text text-lighten-3">Infórmese</h5>
                </div>
            </li>
            <li>
                <img src="https://fundahnn.org/wp-content/uploads/2017/04/Edificio.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3 class="light light-text text-lighten-4">Visitá</h3>
                    <h5 class="light light-text text-lighten-4">Nuestros Centros Médicos</h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title teal-text text-lighten-1">¿Por qué donar Sangre?</span>
                    <p>
                        Las transfusiones de sangre y los productos sanguíneos contribuyen a salvar millones de vidas cada año.
                        <br>La donación de sangre es un acto solidario, desinteresado, altruista, sencillo, seguro y asistido por profesionales especializados en todo momento.
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card 26a69a blue darken-2">
                <div class="card-content white-text">
                    <span class="card-title">¿Cómo donar Sangre?</span>
                    <ol>
                        <li>Cumplir con los requisitos</li>
                        <li>Llenar el Formulario</li>
                        <li>Toma de signos vitales</li>
                        <li>Entrevista</li>
                        <li>Medición de Hemoglobina</li>
                        <li>Donación</li>
                        <li>Refrigerio</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title teal-text text-lighten-1">Salvá Vidas</span>
                    <p>
                        Cada donación puede ayudar hasta a cuatro pacientes diferentes gracias a esto se obtienen cuatro componentes sanguíneos diferentes.
                        La sangre y sus componentes tienen una vida limitada por lo que la necesidad de sangre es constante y se requieren donaciones frecuentes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @section JavaScript
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                M.AutoInit();
                M.Slider.init(document.querySelectorAll('.slider'));
            });
        </script>
    }    
</div>