@{
    // Defines the title
    ViewBag.Title = "Inicio";
}
@section CSS{
    @Styles.Render("~/Public/CSS/home.css")    
}
@section JavaScript{
    @Scripts.Render("~/Public/JavaScript/pages/home/home.js")
}

<h1>Banco de Sangre</h1>