@{ViewBag.Title = "Inicio";}
@section CSS{ @Styles.Render("~/Public/CSS/home.css")}
@section JavaScript{ @Scripts.Render("~/Public/JavaScript/pages/home/home.js")}

<content>
    <div class="container">
        <img src="~/Public/img/imagen1.jpg" width="516px">
    </div>
</content>