@using BancoDeSangre.App_Data;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Banco de Sangre</title>
    @RenderSection("CSS", required: false)
    <link rel="stylesheet" href="/public/css/appShell.css" />
</head>
<body>
    <header>
        <div class="header-title">
            <div class="header-title-item">
                <img class="logo" src="/public/img/logo.png" />
            </div>
            <div class="header-title-item">
                <h1>BANCO DE SANGRE CCSS</h1>
            </div>
        </div>
        <nav class="header-nav-bar">
            @if (!Session.IsSignedIn())
            {
                <a href="/" class="nav-bar-item">
                    INICIO
                </a>
                <a href="/manager/signin" class="nav-bar-item">
                    INICIAR SESIÓN
                </a>
                <a href="/campaign/list" class="nav-bar-item">
                    CAMPAÑAS
                </a>
                <a href="/information/contact" class="nav-bar-item">
                    CONTACTO
                </a>
                <a href="javascript:void(0)" class="nav-bar-info-item nav-bar-item">
                    <b>INFORMACIÓN</b>
                </a>
   
            }
            else
            {
                <a href="#" class="nav-bar-item">
                    NUEVO DONANTE
                </a>
                <a href="/manager/signin" class="nav-bar-item">
                    NUEVO ADMIN
                </a>
                <a href="/campaign/create" class="nav-bar-item">
                    NUEVA CAMPAÑA
                </a>
                <a href="#" class="nav-bar-item">
                    NUEVO CENTRO MEDICO
                </a>
                <a href="/manager/signout" class="nav-bar-info-item nav-bar-item">
                    <b>SALIR</b>
                </a>
            }
        </nav>
    </header>
    <main>@RenderBody()</main>
    <footer></footer>
    <script src="/public/javascript/appShell.js"></script>
    @RenderSection("JavaScript", required: false)
</body>
</html>