<div class="col s12 l9">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-content container center">
                    <i class="material-icons teal-text text-accent-4">phone</i>
                    <h4 class="teal-text text-accent-4">Contáctenos</h4>
                    <ul>
                        <li>Central Telefonica CCSS</li>
                        <li>Número: (506) 2539-0000</li>
                        <li>Extensiones 6221 o 6222</li>
                    </ul>

                    <div class="row">
                        <form class="col s12" method="POST" action="/information/askforinfo">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Nombre" id="first_name" name="name" type="text"  required>
                                    <label for="first_name">Nombre:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Apellidos" id="last_name" name="lastName" type="text"  required>
                                    <label for="last_name">Apellidos:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="email" placeholder="Email" id="email_contact" name="email" required>
                                    <label for="email-contact">Email:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="tel" placeholder="Teléfono" id="tel_user" name="phone"  required>
                                    <label for="tel_user">Teléfono:</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea  id="textarea1" class="materialize-textarea" name="message" required></textarea>
                                    <label for="textarea1">Mensaje:</label>
                                </div>
                            </div>
                            <div class="input-field col s12 white-text">
                                <input id="submit-message" type="submit" hidden />
                                <a id="submit-contact" class="waves-effect waves-light btn teal accent-3" href="javascript:void(0)">
                                    <label class="white-text" for="submit-message">Enviar</label>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section JavaScript
{
    <script>
        M.updateTextFields();
    </script>
    <script src="/Public/JavaScript/views/information/contact.js" type="module"></script>   
}