@{
    // Defines the title
    ViewBag.Title = "InfoDonar";
}
@section CSS{
    @Styles.Render("~/Public/CSS/InfoDonar.css")
}


<html>
<head>
    <title>Información</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="favicon" href="img/logo.png">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div class="card">
        <div class="card-img" id="img01"></div>
        <div class="card-content">
            <p class="card-theme">Donaciones</p>
            <h2 class="card-title">¿Por qué donar?</h2>
            <p class="card-text">
                Las transfusiones de sangre y los productos sanguíneos contribuyen a salvar millones de vidas cada año. Permiten aumentar la esperanza y la calidad de vida de pacientes con enfermedades potencialmente letales, así como llevar a cabo procedimientos médicos y quirúrgicos complejos.
                <br><br>
                La donación de sangre es un acto solidario, desinteresado, altruista, sencillo, seguro y asistido por profesionales especializados en todo momento.
                A pesar de los avances médicos y tecnológicos, por el momento, la sangre no se puede fabricar y sólo se puede obtener de las donaciones altruistas de las personas.
                <br>
                Cada donación puede ayudar hasta a cuatro pacientes diferentes ya que de cada donación de sangre se obtienen cuatro componentes sanguíneos diferentes con aplicaciones propias.
            </p>

        </div>
</body>
</html>
