@section JavaScript{
    <script type="module" src="~/public/javascript/views/campaign/list.js"></script>
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Public/CSS/listCampaign.css">
}
<html>
<body>
    <div class='full-container'>
        <div class="row">
            <div class="column">
                <div id="flexbox-1">
                    <div class="individual-container">
                        <div class="color-1">
                            <div class="box">
                                <div class="body">
                                    <div class="light-sea-green"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                    <ul>
                                        <li class="date"><div class="bold">Fecha:</div> 16/02/19</li>
                                        <li class="start-time"><div class="bold">Inicia: </div>10:00 <div class="bold"> &nbsp; Finaliza:</div> 12:00</li></>
                                        <li class="location"><div class="bold">Lugar:</div> ULACIT</li></>
                                        <li class="desc"><div class="bold">Descripción:</div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque urna a elementum dignissim. Pellentesque pulvinar urna in nibh pellentesque, sed porta enim bibendum. Integer a lacus convallis, placerat eros nec, pharetra urna. Maecenas elementum ligula nisi, et rhoncus tellus fringilla eget. </>
                                        <li class="more-info"><div class="bold">Más Información:</div> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    </ul><br>
                                    <div class="box-image"><img src="../../Public/img/campaign-sample.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flexbox-2">
                    <div class="individual-container">
                        <div class="box">
                            <div class="body">
                                <div class="dark-tangerine"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                <ul>
                                    <li class="date"><div class="bold">Fecha:</div> <!–-Date Here––></li>
                                    <li class="start-time"><div class="bold">Inicia: </div><!–-Start Time Here––> <div class="bold"> &nbsp; Finaliza:</div> <!–-End Time Here––></li>
                                    <li class="location"><div class="bold">Lugar:</div> <!–-Location Here––></li>
                                    <li class="desc"><div class="bold">Descripción:</div> <!–-Description Here––> </>
                                    <li class="more-info"><div class="bold">Más Información:</div> <!–-More Info Here––></li>
                                </ul><br>
                                <div class="box-image"><img src="<!–-Image Location Here––>" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div id="flexbox-3">
                    <div class="individual-container">
                        <div class="box">
                            <div class="body">
                                <div class="light-sea-green"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                <ul>
                                    <li class="date"><div class="bold">Fecha:</div> <!–-Date Here––></li>
                                    <li class="start-time"><div class="bold">Inicia: </div><!–-Start Time Here––> <div class="bold"> &nbsp; Finaliza:</div> <!–-End Time Here––></li>
                                    <li class="location"><div class="bold">Lugar:</div> <!–-Location Here––></li>
                                    <li class="desc"><div class="bold">Descripción:</div> <!–-Description Here––> </>
                                    <li class="more-info"><div class="bold">Más Información:</div> <!–-More Info Here––></li>
                                </ul><br>
                                <div class="box-image"><img src="<!–-Image Location Here––>" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flexbox-4">
                    <div class="individual-container">
                        <div class="box">
                            <div class="body">
                                <div class="dark-tangerine"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                <ul>
                                    <li class="date"><div class="bold">Fecha:</div> <!–-Date Here––></li>
                                    <li class="start-time"><div class="bold">Inicia: </div><!–-Start Time Here––> <div class="bold"> &nbsp; Finaliza:</div> <!–-End Time Here––></li>
                                    <li class="location"><div class="bold">Lugar:</div> <!–-Location Here––></li>
                                    <li class="desc"><div class="bold">Descripción:</div> <!–-Description Here––> </>
                                    <li class="more-info"><div class="bold">Más Información:</div> <!–-More Info Here––></li>
                                </ul><br>
                                <div class="box-image"><img src="<!–-Image Location Here––>" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div id="flexbox-5">
                    <div class="individual-container">
                        <div class="box">
                            <div class="body">
                                <div class="light-sea-green"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                <ul>
                                    <li class="date"><div class="bold">Fecha:</div> <!–-Date Here––></li>
                                    <li class="start-time"><div class="bold">Inicia: </div><!–-Start Time Here––> <div class="bold"> &nbsp; Finaliza:</div> <!–-End Time Here––></li>
                                    <li class="location"><div class="bold">Lugar:</div> <!–-Location Here––></li>
                                    <li class="desc"><div class="bold">Descripción:</div> <!–-Description Here––> </>
                                    <li class="more-info"><div class="bold">Más Información:</div> <!–-More Info Here––></li>
                                </ul><br>
                                <div class="box-image"><img src="<!–-Image Location Here––>" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flexbox-6">
                    <div class="individual-container">
                        <div class="box">
                            <div class="body">
                                <div class="dark-tangerine"><div class="header"><h3>Campaña Sample </h3></div></div><br>
                                <ul>
                                    <li class="date"><div class="bold">Fecha:</div> <!–-Date Here––></li>
                                    <li class="start-time"><div class="bold">Inicia: </div><!–-Start Time Here––> <div class="bold"> &nbsp; Finaliza:</div> <!–-End Time Here––></li>
                                    <li class="location"><div class="bold">Lugar:</div> <!–-Location Here––></li>
                                    <li class="desc"><div class="bold">Descripción:</div> <!–-Description Here––> </>
                                    <li class="more-info"><div class="bold">Más Información:</div> <!–-More Info Here––></li>
                                </ul><br>
                                <div class="box-image"><img src="<!–-Image Location Here––>" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>