<div class="row">
    <div class="col s12 l3">
        <div class="collection">
            <a href="/campaign/create" class="collection-item">Crear Campaña</a>
            <a href="/campaign/list" class="collection-item">Ver Campañas</a>
        </div>
    </div>
    <div class="col s12 l9 valign-wrapper" style="height: 400px">
        <h5 class="center-align" style="width: 100%;">Seleccione una opción del menú</h5>
    </div>
</div>